/Sorting/*.classpath
/Sorting/*.project
/Sorting/.settings
/Palindrome/.settings
/Palindrome/*.classpath
/Palindrome/*.project
/RemoteSystemsTempFiles
.metadata
/RobotGame/bin
/RobotGame/gen
/RobotGame/.settings
/AndroidGame/gen
/AndroidGame/bin
/ImpactPhysics/.settings
/ImpactPhysics/gen
/ImpactPhysics/bin
/Sorting/bin
/MongoDbSample/bin
